.calculator{
  display: flex;
 border: 1px solid black;
 width: 200px;
  border-color: rgba(0, 0, 0, 0.226);
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}


